{% extends 'base.html' %}
{% load bootstrap3 %}

{% block title %} Password reset {% endblock %}

{% block content %}
  <div class="container">
  	<h1>Password reset</h1>

 	{% if isvalidlink %}
 	  <form action="" method="post" class="form">
 	    {% csrf_token %}
 	    {% bootstrap_form form %}

 	    {% buttons %}
 	      <button type="submit" class="btn btn-primary">Change password</button>
 	    {% endbuttons %}  	
 	  </form>

 	{% else %}
 	   <div class="row">
 	     <div class="alert alert-danger col-sm-offset-2 col-sm-6">
 	     	<p class="lead"><strong>Password reset failed!</strong></p>
 	     </div>
 	   </div>
 	   <div class="row">
 	     <div class="col-sm-offset-1 col-sm-10">
 	     	<p class="lead">Password reset link was invalid, possibly because it has already been used.</p>
 	     	<p><a href="{% url 'login' %}">Sign in</a></p>
 	     </div>
 	   </div>
 	{% endif %}
  </div>

{% endblock %}